.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.github/**
.wdio-vscode-service/**
example-kappa-plugins/**
test-workspace/**

.yarnrc
.gitignore
.prettierignore
esbuild.js

**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
