.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@ast-grep/**
!node_modules/@aws-sdk/**
!node_modules/objdiff-wasm/**
src/**
.github/**
.wdio-vscode-service/**
example-kappa-plugins/**
test-workspace/**

.yarnrc
.gitignore
.prettierignore
esbuild.js

**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
