name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Set up Clang
        uses: egor-tensin/setup-clang@v1

      - name: Install clangd
        run: |
          sudo apt-get update
          sudo apt-get install -y clangd-16
          sudo update-alternatives --install /usr/bin/clangd clangd /usr/bin/clangd-16 100

      - name: Install ARM toolchain
        run: sudo apt-get install -y gcc-arm-none-eabi

      - name: Build project
        run: yarn build

      - name: Run Unit Tests
        run: yarn tests:unit

      - name: Run E2E Tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: yarn tests:e2e
